.mobile-resource-group {
  margin: 10px 20px 0px 0px;
  
  .mobile-resource {
    .resource-name {
      color: @link-color;
      display: inline;
    }
    
    .resource-id {
      .text-muted();
    }

    .resource-icon, .resource-image {
      margin: 0 15px;
      padding-top: 5px;
      width: 30px;
    }

    .exclude {
      cursor: pointer;
      padding: 10px 0 0 15px;
    }
  }
}

.modal-resource-image {
  width: 50px;
}

.clear {
  clear: both;
}