.mobile-service-group {
  margin: 10px 20px 0px 0px;

  .mobile-service {
    color: @link-color;

    .service-name {
      display: inline;
    }

    .service-id {
      .text-muted();
    }

    .service-icon {
      padding-top: 5px;
      margin: 0 15px;
      width: 30px;
    }
  }

  .clear {
    clear: both;
  }
  
  .exclude {
    padding: 5px 0 0 15px;
    cursor: pointer;
  }
}
