<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title pull-left">Add Mobile Resource</h3>
    <button class="panel-title btn pull-right" type="button" ng-click="ctrl.onClose()">
      <span aria-hidden="true" class="pficon pficon-close"></span>
    </button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div class="list-pf">
      <div ng-repeat="resource in ctrl.excludedResources" class="list-pf-item">
        <div class="list-pf-container" ng-click="ctrl.addMobileResource(resource)">
          <div class="order-service-details ng-scope">
            <div class="order-service-details-top">
              <div class="service-icon">
                <img ng-if="$ctrl.resource.resourceData.imageUrl" class="resource-image pull-left" ng-src="{{ $ctrl.resource.resourceData.imageUrl }}" />
                <span ng-if="$ctrl.resource.resourceData.icon" class="resource-icon fa-4x {{ $ctrl.resource.resourceData.icon }} pull-left"></span>
              </div>
              <div class="service-title-area">
                <div class="service-title ng-binding">
                  {{ resource.resourceData.name }}
                </div>
                <div class="order-service-tags ng-scope">
                  <span class="tag ng-binding ng-scope">
                    {{ resource.resourceData.id }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>